    <main>
      <nav class=" shadow-sm p-3 mb-5 bg-body">
        <div class="logos"><img src="/image/logo 2.png" alt="logo2" /></div>
        <div class="nav-content">
          <div class="ms-1 menu my-auto"><i class="fa-solid fa-bars"></i></div>
          <div class="sub-menu">
            <div class="search me-3">
              <input type="text" id="search-bar" autocomplete="off" class="form-control rounded-0 Field" placeholder="Search by name" aria-label="Search" aria-describedby="basic-addon2" />
              <a id="search-btn" class="btn btn-outline-primary rounded-0">Search</a>
            </div>
            <div class="profile mt-2">
              <h6><i class="fa-solid fa-circle-user fa-2xl me-2"></i>Adi<i class="fa-solid fa-angle-down ms-2"></i></h6>
            </div>
          </div>
        </div>
      </nav>
    <aside class="aside-2">
      <div class="list-group mt-3 rounded-0">
        <a href="#" class="list-group-item list-group-item-action border-0 text-secondary">CARS</a>
        <a href="#" class="list-group-item list-group-item-action border-0 text-secondary">List Car</a>
      </div>
    </aside>