    <aside class="aside-1">
      <div class="text-center">
        <img src="/image/logo.png" alt="logo" class="mt-2" />
        <div class="my-3">
          <img src="/image/Group 2.png" class="aside-img" alt="logo" />
          <p>Dashboard</p>
        </div>
        <div class="my-3">
          <img src="/image/fi_truck.png" class="aside-img" alt="logo" />
          <p class="fw-bold">Cars</p>
        </div>
      </div>
    </aside>